@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');
@import "tailwindcss";

@theme {
  --color-background:  #0A0A0A;
  --color-foreground: #F2F0EB;
  --color-gold: #C8A96E;
  
  --font-satoshi: 'Satoshi', sans-serif;
  --font-serif-italic: var(--font-dm-serif-text), serif;

  --animate-marquee: marquee 40s linear infinite;
  
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply font-satoshi;
  }
}
